{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Logout - Taskmate</title>
{% endblock title %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
            
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Logged Out</h1>
                <h5>Come back soon!</h5>
                 
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="{% static 'images/skills.png' %}" class="img-fluid animated" alt="">
            </div>
            </div>
        </div>
    </section>
{% endblock content %}